body{
    background-color: #e7e7e7;
}
.mainBody{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 360px;
    width: 1500px;
    overflow: hidden;

}
.mainArea{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;

}
.mainArea>div{
    width: 100%;
    background-size: cover;
    position: center;
}
.mainArea>div>img{
    height: 200px;
    width: 170px;
}
